/*
#results {
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 12px;
  width: 760px;
}

#results .item-list {
  border: 1px solid #FFFFFF;
}

ul {
  list-style: none outside none;
}
*/